.row
  .col-xs-9
    .row
      .col-xs-12
        = link_to 'Home', root_path
        >>
        = link_to 'Shop', books_path
        >>
        = link_to @category.title.capitalize, category_books_path(@category.id)
    .row
      .col-xs-12
        %h3
          Categories - 
          = @category.title.capitalize
    = render "books/partials/index"
  = render "categories/partials/index"